/* CSS Variables */
:root {
  --ad-width: 300px;
  --ad-height: 250px;
}

#banner {
  background: url('assets/background.png') no-repeat;
  background-size: cover;
  width: var(--ad-width);
  height: var(--ad-height);
}

#logo {
  position: absolute;
  top: 22px;
  width: 107px;
}

#rule {
  display: block;
  position: absolute;
  top: 100px;
  border: 0;
  border-top: 1px solid #d1d8e9;
  width: 180px;
  height: 1px;
}

#txt1 {
  position: absolute;
  top: 50px;
}

#txt2 {
  position: absolute;
  top: 50px;
}

#cta {
  position: absolute;
  top: 150px;
}
