/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-cta {
  background-image: url(assets/txtsprite.png);
  background-position: 0 0;
  width: 155px;
  height: 36px;
}
.icon-txt1 {
  background-image: url(assets/txtsprite.png);
  background-position: -156px -17px;
  width: 178px;
  height: 16px;
}
.icon-txt2 {
  background-image: url(assets/txtsprite.png);
  background-position: -156px 0;
  width: 180px;
  height: 16px;
}
