/* common styles */
img {
  margin: 0;
  border: none;
}

.center {
  display: block;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.vcenter {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  margin: 0;
  background: #fff;
  padding: 0;
  color: #fff;
}

#banner {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  position: absolute;
  opacity: 0; /* start with a zero opacity for loading */
  border: #000 1px solid;
  background: #fff;
  overflow: hidden;
}

#banner:hover {
  cursor: pointer;
}

/* Deal with retina only sprites */
img.retina {
  transform: scale(0.5);
  transform-origin: top left;
}

/* make sure to reset the origin when centering images */
img.retina.center {
  transform-origin: unset;
}

/* end common styles */
