{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "globals": {
    "Ad": true,
    "gsap": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "prettier/prettier": ["error"]
  }
}
