{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": "eslint:recommended",
  "globals": {
    "Ad": true,
    "TimelineLite": true,
    "Linear": true,
    "Power1": true,
    "Power2": true
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-console": 0,
    "no-unused-vars": 1,
  },
}
