#banner {
	width:300px;
	height:250px;
	background: url('assets/background.jpg') no-repeat 0 0;
}

#logo {
	position:absolute;
	width: 107px;
	top: 22px;
}

#rule {
	position: absolute;
	display: block;
    height: 1px;
	width: 107px;
    border: 0;
    border-top: 1px solid #aa8522;
	top: 71px;
}

#txt1 {
	position:absolute;
	top: 115px;
}

#txt2 {
	position:absolute;
	top: 122px;
}

#cta {
	position:absolute;
	top: 175px;
}
